<head>
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<body id="site">
  <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-lg" id="mynav">
          <a class="nav navbar-brand" href="http://localhost:4200/QuotesLibrary"><img id="logo" src="https://lh3.googleusercontent.com/zBvKdVVG0p030VXmsKtj9YoZv1rioWLDJbM6IOnLnmLVFBEFEGaG8jIr6b-oyRlUOeOMD5Qt5ehozC9DL6amVn7dPh-IwQ-DrNw8_kKQl_IDghVfmm9EC_svrzDgbacS4PEqsR9yCXAseDmo_Ws5GnR1YwvVrtGoCvdgqaOLP88-xBjR9JcQw_8oBORyHJ3fGdxqkMSKYjCwBQjCSS9gnd2BwmYfms5E3DxmkceCO-IPp-Wz5zJego400Cglb1NHG2UIpE5ZhO_RxP0GUMc3t4M4brgpqD4pOe8KwR5NJqZShBSM0Wq8O3bQDbwGGhP4UjtZSMWmqFuaInvHYj347xP4g7x84kmM2e5-lAn6w2lDAFa5jm1PANMnTZ7_NfQH4JF0rn2IyaC_dEPXCP-eMa7MWvYETlsMc2xFCvE7RDR8s_28IFCkbqntfh-s2mzILbv50Af7_lYn1svDjBwdZ2H4H9QRtkz35bF4RPbubh_SIupP2Z9Oeic7Y_4Jqc--FJKCVcN8gnoiHPmMbPVVmRzmBMa1pvlXDaLPijLN1B1YeAl649lsVWi2aUgZ5aGpLEMHWXRDM0KSKSJakE6RwUG6WVYxs_yztjl0IvjZtHcqsljJ-CeZCdzsIkU2D5x2y3V8_0El5K7j50ykPluswlKXRKPwArs=s500-no" alt="Logo" height="180px">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/Home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/PostaQuote">Post a Quote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/Register">Register with Us</a>
              </li>
            </ul>
            <span class="navbar-text">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </span>
          </div>
        </nav>
    <app-main-quote></app-main-quote>
    </div>
</body>
