.wrapper {
    max-height: 1000px;
    overflow: hidden;
}
#mynav {
      background-color: blueviolet;
      font-family: 'Germania One', cursive;
}

#title {
    font-size: 50px;
}

.nav>li {
    display: inline-block;
}
.nav-list {
    margin-left: 20%;
}

.container {
    margin-left: 20%;
    margin-top: 5%;
}

app-quote-form {
    font-family: 'ZCOOL XiaoWei', serif;
}

a {
    color: black;
    font-size: 20px;
}
