<head>
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body id="site">
  <div class="container-fluid">
      <nav class="navbar navbar-expand-lg" id="mynav">
          <a class="navbar-brand" href="http://localhost:4200/QuotesLibrary"><img id="logo" src="https://lh3.googleusercontent.com/DeUbQ94sWhco6QBNb6zYJT4F7wzjvZ6aiInZ5mPYaDqmMup_hmWGXdQnzOVv0-BKk6zIaK2Na0yCng3nTEBmg6BFIsifPTwk2vqZWMWz7wJmFGtwRh8P2JAePO0l5ukGEfAJmSoa1VEO0H266i7iPJzGI1UxM86lxq-EKY9SDYUj2qZwN6wRwkIP_CWWS4D2J1NOGSqXe8_VoI5W5Zjfy4TXIQQ2J-GUGoboUGmnNcm2fOVoQSzcCvtC76fV0PHPBfN3VJuFyxkkQq0VPxZbtEASqTHL88plUuUuj6A9LGqRwG5IbNG7eDE5VR_wbTM0xvU8QLhxH8XVp4fa_b_cNcb67LuM8aLpViICxJZfNiQJQoQHmbnXtdjLNQaUjy-xAW-nTJG4zCQsnsF7eLme4dHXICEB9zImlie9pbzB6hr2D1tra-tV2_BLEjWYmT0wZHHuk1j5VClFWMzu8ZdJy7VUxGx1nC-cXPpcWD-hkVQ37KPdAk_rT_Qif-yo1jGmVsp_12vO8MCNOgekO9dG33WqEjQKkJJ5fazP7GEt6qx-NnJNdk2LzBNCAxzsm-FlUJ21otcC_TdsKpp6UdXmRndLXRr_LtLUIeCZc6F8c1Z5McsCVPj2nAXNvKqxquzlm0BZN2nRb0ra5rDFIeh3VoT3Bs8ZWoQ=s500-no" alt="Logo" height="180px">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/Home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (ngClick)="postQuote()" href="http://localhost:4200/PostaQuote">Post a Quote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/Register">Register with Us</a>
              </li>
            </ul>
            <span class="navbar-text">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </span>
          </div>
        </nav>
    <app-main-quote></app-main-quote>
    </div>
</body>
