<head>
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body id="site">
  <div>
      <nav class="navbar navbar-expand-lg" id="mynav">
          <a class="navbar-brand" href="http://localhost:4200/QuotesLibrary">Quotes Library</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4200/Home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (ngClick)="postQuote()" href="http://localhost:4200/PostaQuote">Post a Quote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/Register">Register with Us</a>
              </li>
            </ul>
            <span class="navbar-text">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </span>
          </div>
        </nav>
    <app-main-quote></app-main-quote>
    </div>
</body>
