<div class="container-fluid" id="hold">
  <div class="row" id="quoteframe">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <app-quote-details></app-quote-details>
  <div class="parent">
    <div *ngFor='let quote of quotes; let i=index' id="quote1">
      <div class="card" class="quotecard">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <p>{{quote.publisher}}</p>
            </div>
            <div class="col-md-6" class="emoji" ng-init="count=0">
              <ul class="list-group flex-md-row">
                <i class="fas fa-heart" (click)=voteup(quote) style="font-size: 20px; color: #f172a1;"></i>
                <li class="list-inline">{{quote.voteup}}</li>
                <i class="fas fa-thumbs-down" (click)=votedown(quote) style="font-size: 20px; color:black;"></i>
                <li class="list-inline">{{quote.votedown}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body" appHighlightQuote>
          <blockquote class="blockquote mb-0">
            <p>{{quote.thequote}}</p>
            <footer class="blockquote-footer" style="color:black;">Author: {{quote.author}}<cite
                title="Source Title"></cite></footer>
          </blockquote>
        </div>
        <div class="card-header" style="height:70px;">
            <div class ="row" style="margin-top:0;">
                <div class="col-md-8" style="margin-top:0;">
                    <p style="font-size:12px;">{{quote.postDate}}</p>
                  </div>
                  <div class="col-md-4" style="margin-top:10px;">
                      <i class="fas fa-trash-alt" id="delete"></i>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>