#quoteframe {
    margin-left: 25%;
}

.quotecard {
    border: solid;
    border-color: #8860d0;
    border-top: 1px;
    border-radius: 10px;
    padding: 0;
}

.list-inline {
    margin-left: 4%;
}

li:hover i:before {
    font-size: 30px;
}

.emoji {
    margin-left: 10%;
}

.fas:hover {
    font-size: 30px;
}

i {
    margin-left: 3%;
}

#more {
    display: none;
}

#hold {
    margin-top: 10%;
}

.card-header {
    background-image: linear-gradient(to right, #8860d0, #5ab9ea, #38cce2,#8860d0);
}

.parent {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 18rem;
    -webkit-column-gap: 18rem;
    column-gap: 10px;
}

#quote1 {
    width:18rem;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
}