<form id ="myform" (ngSubmit)='submitQuote()' #quoteform ='ngForm'>
    <div class="form-group">
        <label for="myquote" class="list-group-item" id="header">What's on your mind?</label>
        <div class="list-group-item" id="main">
            <textarea class="form-control" id="myquote" rows="4" placeholder = "type your quote here" [(ngModel)]="newQuote.thequote" name="quote" #quote = "ngModel" required></textarea>
        </div>
        <div class="list-group-item" id="foot">
           <div class="row" id="submitters">
              <div class="col-md-4" class="me">
                  <label for="author">Author</label>
                  <input class="form-control" rows="1" [(ngModel)]="newQuote.author" name="author" #author = "ngModel" required>
               </div>
               <div class="col-md-4" class="me">
                  <label for="publisher">Publisher</label>
                  <input class="form-control" rows="1" [(ngModel)]="newQuote.publisher" name="publisher"
                  #publisher = "ngModel" required>
               </div>
               <div class="col-md-4" id="sub" class="me">
                <button type="submit" class="btn btn-outline-info" >Submit</button>
            </div>
            </div>
            </div>
        </div>
  </form>
