<form id ="myform">
    <div class="form-group">
        <label for="myquote" class="list-group-item list-group-item-secondary">Quote</label>
        <div class="list-group-item">
            <textarea class="form-control" id="myquote" rows="4" placeholder = "type your quote here" required></textarea>
        </div>
        <div class="list-group-item list-group-item-secondary">
           <div class="row">
              <div class="col-md-4">
                  <label for="author">Author</label>
                  <textarea class="form-control" rows="1" required></textarea>
               </div>
               <div class="col-md-4">
                  <label for="publisher">Publisher</label>
                  <textarea class="form-control" rows="1" required></textarea>
               </div>
               <div class="col-md-4">
                  <label for="date">date posted</label>
                  <input type='date' id="complete" required>
               </div>
           </div>
        </div>
    </div>
  </form>
